*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #0e0e0e; */
    padding: 1%;
    padding-bottom: 2%;
    padding-left: 17%;
    padding-right: 17%;
    font-size: 15px;
    margin: 0;
    /* font-family: 'Poppins', 'sans-serif';
     */
}

main{
    background-color: hsl(0, 0%, 95%);
    
    /* width: 811px; */
    /* aspect-ratio: auto 811 / 450; */
    height: 100%;
    justify-content: center;
    align-content: center;
}

h1{
    margin-left: 40%;
    margin-bottom: 2px;
}

h1 a{
    color: black;
}

h1 a:hover {
    color: red;
}



#all{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    /* margin: auto; */
    padding: 10%;
    overflow: hidden;
    border-collapse: separate;
    
}

.content{
    padding: 30px;
}

.img{
    padding: 7px;
    height: 40px;
    width: 55px;
}

#seadans{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#suvs{
    background-color: hsl(184, 100%, 22%);
}

#lux{
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

p{
    font-size: 10px;
    padding: 2px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
    opacity: .7;
}

h2{
    /* padding: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    font-size: 26px;
    /* font-stretch: ultra-expanded; */
}

button{
    margin: 30px 0;
    padding: 13px 20px;
    /* color: hsl(0, 0%, 95%); */
    /* height: 30px;
    width: 90px; */
    border: 0;
    border-radius: 30px;
    outline: none;
    background-color: #fff;
    /* opacity: .7; */
    font-size: 13px;
    cursor: pointer;
    /* font-family: 'Lexend Deca', sans-serif; */
    font-weight: 500;

}

.buttons:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: 0.4s;
  }

#one{
    color: hsl(31, 77%, 52%);
}

#one:hover {
    color: hsl(0, 0%, 95%);
  }

#two{
    color: hsl(184, 100%, 22%);
}

#two:hover {
    color: hsl(0, 0%, 95%);
  }

#three{
    color: hsl(179, 100%, 13%);
}

#three:hover {
    color: hsl(0, 0%, 95%);
    
}

@media screen and (max-width: 750px) {

    /* screen size is choosen at 750px to cater for a tablet responsiveness
    Mobile screen at 375px is still covered */
    #nav {
        background-color: hsl(0, 0%, 95%);
        height: 14px;
        padding: 16px 30px;
    }

    #all {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }

    div {
        width: auto;
        height: auto;
        font-size: 15px;
        margin-top: 0px;
        padding: 20px;
    }

    .sedans,
    .suvs,
    .luxury {
        border-radius: 10px 10px 10px 10px;
    }

    p {
        /* height: 100px; */
        padding: 0;
        margin: 0;
        text-align: center;
        
    }

    button {
        /* margin-top: 50px;
        margin-bottom: 20px; */
        margin-left: 30%;
        margin-right: 30%;
        
    }

    #seadans{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
    }

    #lux{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    h1{
        align-items: center;
        margin: auto;
        padding: auto;
        font-size: medium;
    }

    

}



/* @media screen and (max-width: 1440px) {
    #all {
        display: flex;
    }
}

@media screen and (min-width: 375px) {
    #all {
        display: block;
    }
} */